/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/ekg_extractor.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
skg_main/resources/config/tts.ini
skg_main/resources/config/vm.ini
main.py
/dist/*